{% extends 'base.html' %}


{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">HTTP 404</h1>
      <p class="subtitle is-4">
        Site is still under construction, maybe check back later.
      </p>
      {% if config.extra.author.icon %}
      <figure class="image is-flex is-justify-content-center is-align-items-center">
        <img src="{{ config.extra.author.icon }}" style="max-width: 192px" />
      </figure>
      {% endif %}
      {{ macros:: social_links( social_config=config.extra.social) }}
      <p class="my-6">
        <a href='{{ config.base_url }}'>
          <span class="icon">
            <i class="fas fa-home"></i>
          </span>
          <span>Home</span>
        </a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
